<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.chromedriver.tao.plist</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/taolong/Workspaces/chromedriver-mac-arm64/chromedriver</string>
	<string>--port=56311</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/tmp/chromedriver.log</string>
    <key>StandardErrorPath</key>
    <string>/tmp/chromedriver.err</string>
</dict>
</plist>