<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.mqtt.victron.tao</string>
    <key>ProgramArguments</key>
    <array>
        <string>/opt/homebrew/bin/mosquitto_pub</string>
        <string>-h</string>
	<string>192.168.5.179</string>
	<string>-t</string>
	<string>R/c0619ab27cf8/keepalive</string>
	<string>-m</string>
	<string></string>
    </array>
    <key>StartInterval</key>
    <integer>300</integer>
    <key>StandardOutPath</key>
    <string>/tmp/mqtt.victron.log</string>
    <key>StandardErrorPath</key>
    <string>/tmp/mqtt.victron.err</string>
</dict>
</plist>
